<table>
  <tr>
    <th>Account name</th>
    <th>Contact name</th>
    <th>Contact email</th>
  </tr>
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.account_name %></td>
      <td><%= client.contact_name %></td>
      <td><%= client.contact_email %></td>
    </tr>
  <% end %>
</table>

<%= paginate @clients %>
