<section>
  <header>
    <h1><%= @client.account_name %></h1>
  </header>

  <section class="main">
    <ul>
      <li><strong>Account name:</strong> <%= @client.account_name %></li>
      <li><strong>Contact name:</strong> <%= @client.contact_name %></li>
      <li><strong>Contact email:</strong> <%= @client.contact_email %></li>
    </ul>
  </section>
</section>
