<h3 class="heading">Users</h3>
<p style="margin-bottom: 20px;"><%= link_to "Create new user", new_user_path %></p>
<table class="table table-striped">
  <tr>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>

<%= paginate @users %>
