<!DOCTYPE html>
<html>
<head>
  <title>AgileBaboon</title>
  <%= stylesheet_link_tag    "sessions", :media => "all" %>
  <%= javascript_include_tag "sessions" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
